@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Open+Sans:wght@400;600&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);


body{
    margin: 50px 20%;
    min-height: 100vh;
    color: #fff;
    background-color: #141414;
    opacity: 0.8;
}
header{
    width: 100%;
    height: 400px;
    background-image: url(../img/movie_1.jpg);
    background-size: 100% 100%;
    font-family: 'Nanum Myeongjo', serif;
    font-style: italic;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__close{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.header__close i{
    height: 100%;
    position: absolute;
    top: 16px;
    padding: 10px;
}
.header__row{
    display: flex;
    justify-content: flex-start;
    
    margin-top: 250px;
    margin-left: 60px;
}
.header__row__title{
    font-size: 50px;
}
.header__row__heart{
    border: solid 1px #fff;
    border-radius: 10px;
    background-color: rgb(20, 20, 20,0.5);
    
    width: 60px;
    height: 30px;
    margin-left: 10px;
    margin-top:20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__row__heart i{
    margin-right: 2px;
}
.main__info{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    
    margin: 10px 0;
    height: 30px;
    font-size: 20px;
    color: #bcbcbc;
}
.main__info__opening{
    margin: 0 12px 0 10px;
}
.main__info__permissibleAge{
    background-color: #46d369;
    color: #fff;
    font-weight: 800;
    border-radius: 2px;
    margin: 0 12px;
    padding: 2px;
}
.main__story{
    margin: 30px 10px;
    line-height: 22px;
}
.main__story span, .main__creator span{
    font-size: 16px;
}
.main__creator , .main__castMembers{
    margin: 5px 10px;
    font-size: 16px;
}
.main__creator span:first-child, .main__castMembers span:first-child{
    color: #bcbcbc;
}
footer{
    margin:50px 10px 10px 10px;
}
.footer__title{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
    color: #bcbcbc;
}
.footer__underline{
    height: 1px;
    background-color: #fff;
    margin-top: 5px;
}

@media all and (max-width:1440px){
body{
    margin: 3.47vw 20%;
    min-height: 100vh;
}

header{
    height: 27.78vw;
    border-top-left-radius: 0.21vw;
    border-top-right-radius: 0.21vw;
}
.header__close{
    height: 3.47vw;
}
.header__close i{
    top: 1.11vw;
    padding: 0.69vw;
}

.header__row{
    margin-top: 19.44vw;
    margin-left: 4.17vw;
}
.header__row__title{
    font-size: 3.47vw;
}
.header__row__heart{
    border: solid 0.07vw #fff;
    border-radius: 0.69vw;
    font-size: 1.25vw;
    width: 4.17vw;
    height: 2.08vw;
    margin-left: 0.69vw;
    margin-top:1.39vw;
}

.header__row__heart i{
    margin-right: 0.14vw;
    
}

.main__info{
    margin: 0.69vw 0;
    height: 2.08vw;
    font-size: 1.39vw;
}

.main__info__opening{
    margin: 0 0.83vw 0 0.69vw;
}

.main__info__permissibleAge{
    font-weight: 800;
    border-radius: 0.14vw;
    margin: 0 0.83vw;
    padding: 0.14vw;
}
.main__story{
    margin: 2.08vw 0.69vw;
    line-height: 1.53vw
}

.main__story span, .main__creator span{
    font-size: 1.11vw;
}
.main__creator , .main__castMembers{
    margin: 0.35vw 0.69vw;
    font-size: 1.11vw;
}


footer{
    margin:3.47vw 0.69vw 0.69vw 0.69vw;
}
.footer__title{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.74vw;
}
.footer__underline{
    height: 0.07vw;
    margin-top: 0.35vw;
}
.header__close{
    font-size:1.67vw;
}

}