@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Open+Sans:wght@400;600&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);


body{
    background-color: #141414;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    flex-direction: column;
    padding: 35px;
    box-sizing: border-box;
}
.header{
    padding: 2px;
    height: 130px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__title{
    height: 50px;
    font-size: 35px;
    font-weight: 800;
    display: flex;
    align-items: center;
    
}
.header__search{
    
    border: solid 1px #fff;
}
.header__search input{
    border: none;
    outline: none;
    background-color: #141414;
    opacity: 0.8;
    -webkit-appearance: none;
    
    width: 250px;
    height: 42px;
    
    position: relative;
    color: #fff;
}

.header__search__btn{
    background:none;
    border: none;
    color: #fff;
    
}

.header__search__btn i{
    /* position: absolute;
    right: 40px;
    top: 100px; */

}

.nav{
    padding: 2px;
    margin-bottom: 2px;
    height: 30px;

    display: flex;
    
}
.nav__company{
    margin-right: 5px;
    padding: 5px 10px;
    background: #fff;
    display: flex;
    align-items: center;

    border-radius: 5px;
}
.nav__company span{
    display: block;
    margin-right: 10px;
    color: black;
}
.nav__company i{
    color: black;
    cursor: pointer;
}
.nav__platform{
    margin-right: 5px;
    padding: 5px 10px;
    background: #fff;
    display: flex;
    align-items: center;

    border-radius: 5px;
    opacity: 0.6;
    cursor: pointer;
    
}
.nav__platform span{
    color: black;
}
.movies{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.movies div {
    padding: 2px;
    margin-bottom: 50px;
    cursor: pointer;
}
.movies div img{
    border-radius: 4px;
}





/*----modal__layout----*/


.modal__layout{
    /* width: 100%; */
    height: 100vh;
    position: absolute;
    z-index: 99;
    background-color: rgba(0,0,0,0.7);  

    /*추가한것*/
    right: 0px;
    left: 0px;
    top: 0px;
}
.modal__layout__body{
    width: 800px;
    height: 100vh;
    margin: 35px auto;
    
    background-color: #141414;
    color: #fff;
}
.modal__layout__body > header{
    width: 100%;
    height: 400px;
    
    background-size: 100% 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.header__close{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    
}
.header__close i{
    margin: 30px 15px 0 0;
    cursor: pointer;
}
.header__row{
    display: flex;
    justify-content: flex-start;
    
    margin-top: 250px;
    margin-left: 60px;
}
.header__row__title{
    font-size: 50px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 600;
    font-style: italic;
}
.header__row__heart{
    border: solid 1.5px #bcbcbc;
    border-radius: 10px;
    background-color: rgb(20, 20, 20,0.5);
    
    width: 60px;
    height: 30px;
    margin-left: 10px;
    margin-top:20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__row__heart i{
    margin-right: 4px;
    scale: 1.1;
    cursor: pointer;
    color: #bcbcbc;
}
.header__row__heart i:hover{
    will-change: transform;
    animation: heartBeat 1.2s linear infinite;
}

@keyframes heartBeat {
    0% {
      color: #bcbcbc;
      transform: none;
    }
    50% {
      color: #fff;
      transform: scale(1.2);
    }
    100% {
      color: #bcbcbc;
      transform: none;
    }
  }
  








.modal__layout__body > main{
    box-sizing: border-box;
    margin: 0 20px;
}
.main__info{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    
    margin: 15px 0;
    height: 30px;
    font-size: 20px;
    color: #bcbcbc;
}
.main__info__opening{
    margin: 0 12px 0 10px;
}
.main__info__permissibleAge{
    background-color: #46d369;
    color: #fff;
    font-weight: 800;
    border-radius: 2px;
    margin: 0 12px;
    padding: 2px;
}
.main__story{
    margin: 30px 10px;
    line-height: 22px;
}
.main__story span, .main__creator span{
    font-size: 16px;
}
.main__creator , .main__castMembers{
    margin: 5px 10px;
    font-size: 16px;
}
.main__creator span:first-child, .main__castMembers span:first-child{
    color: #bcbcbc;
}
.modal__layout footer{
    margin:50px 20px 10px 20px;
}
.footer__title{
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
    color: #bcbcbc;
}
.footer__underline{
    height: 1px;
    background-color: #fff;
    margin-top: 5px;
}

